@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(255, 225, 234);
  transition: background 0.5s ease;
  position: relative;
}

.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 225, 234);
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.spinner:before,
.spinner:after{
    content: "";
    position: absolute;
}

.spinner:before {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      to right, 
      hsl(342, 100%, 90%),
      hsl(342, 100%, 90%) 50%,
      hsl(342, 10%, 40%) 50%,
      hsl(342, 10%, 40%) 100%
    );
  background-repeat: no-repeat;
  animation: spin .5s infinite linear;
}
.spinner:after {
    width: 93%;
    height: 93%;
    background-color: rgb(255, 225, 234);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -50px);
}

.fade-in {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
  transition: all 800ms ease;
}

.field-name,
.field-email,
.field-password,
.field-finish {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.field-name i,
.field-email i,
.field-password i,
.field-finish i {
  padding: 10px;
}

.click-me {
  cursor: pointer;
}

.field-name input,
.field-email input,
.field-password input {
  color: rgb(138, 106, 116);
  background: none;
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset!important;
  box-shadow: 0 0 0px 1000px white inset!important;
}

.password-reqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 100%;
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 1;
}

.password-must {
  border-bottom: 1px solid black;
  font-weight: 900;
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  flex-grow: 0;
}

.password-list {
  position: relative;
  left: 0;
  list-style-type: circle;
  list-style-position: inside;
}

.password-list li {
  line-height: 1.25;
}

div.innactive {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 50%);
  transition: all 400ms ease;
}

div.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
  transition: all 600ms ease;
}

::selection{
  background: rgb(207, 252, 255);
}

input::placeholder {
  color: ;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

